In [3]:
import pandas as pd

In [21]:
df = pd.read_csv("./data/csv/submissions.csv")

In [22]:
df.head()

,Unnamed: 0,id,contestId,creationTimeSeconds,relativeTimeSeconds,programmingLanguage,verdict,testset,passedTestCount,timeConsumedMillis,memoryConsumedBytes,index,name,type,rating,tags,points,problemsetName
0,0,94790478,1423.0,1601913893,10793,GNU C++17,WRONG_ANSWER,TESTS,2,218,512000,E,5G Antenna Towers,PROGRAMMING,2700.0,['geometry'],NaN,NaN
1,1,94789081,1423.0,1601913263,10163,GNU C++17,OK,TESTS,18,62,3584000,C,Dušan's Railway,PROGRAMMING,3500.0,"['graphs', 'trees']",NaN,NaN
2,2,94788192,1423.0,1601912779,9679,GNU C++17,WRONG_ANSWER,TESTS,4,46,3481600,C,Dušan's Railway,PROGRAMMING,3500.0,"['graphs', 'trees']",NaN,NaN
3,3,94787983,1423.0,1601912657,9557,GNU C++17,RUNTIME_ERROR,TESTS,4,31,3481600,C,Dušan's Railway,PROGRAMMING,3500.0,"['graphs', 'trees']",NaN,NaN
4,4,94787799,1423.0,1601912558,9458,GNU C++17,WRONG_ANSWER,TESTS,4,46,3481600,C,Dušan's Railway,PROGRAMMING,3500.0,"['graphs', 'trees']",NaN,NaN